.add-meal-form{
    max-width: 100%;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.add-meal-form fieldset{
    border: none;
}
.add-meal-form legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.add-meal-form label {
    display: block;
    margin-bottom: 8px;
}
.add-meal-form input[type="text"],
.add-meal-form input[type="date"],
.add-meal-form input[type="datetime"],
.add-meal-form input[type="email"],
.add-meal-form input[type="number"],
.add-meal-form input[type="search"],
.add-meal-form input[type="time"],
.add-meal-form input[type="url"],
.add-meal-form textarea,
.add-meal-form select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    
}
.add-meal-form input[type="text"]:focus,
.add-meal-form input[type="date"]:focus,
.add-meal-form input[type="datetime"]:focus,
.add-meal-form input[type="email"]:focus,
.add-meal-form input[type="number"]:focus,
.add-meal-form input[type="search"]:focus,
.add-meal-form input[type="time"]:focus,
.add-meal-form input[type="url"]:focus,
.add-meal-form textarea:focus,
.add-meal-form select:focus{
    background: #d2d9dd;
}
.add-meal-form select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.add-meal-form .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.add-meal-form input[type="submit"],
.add-meal-form input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.add-meal-form input[type="submit"]:hover,
.add-meal-form input[type="button"]:hover
{
    background: #109177;
}
#postMealButton
{
    height: 75px;
}
.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}
.list{
	width:200px;
	height:200px;
	background-image:url(/img/placeholder.jpg);
    margin-top: 68px;
    margin-bottom: 10px;
	display:block;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center top;  
}

.uploadButton {
  position: relative;
  display: inline-block;
  height: 38px;
  width: 200px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; 
    

  position:relative;
  text-align:center;
  float:left;
  cursor:pointer;

}
.uploadButton:hover,
.uploadButton:focus {
  color: #333;
  border-color: #888;
  outline: 0; }

.hide_file {
    position: absolute;
    z-index: 1000;
    opacity: 0;
    cursor: pointer;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 24px;
    width: 100%;
}