.meal{
    display:inline-block;
    background-color: #57c1b0;
    color:white;
    text-align: center;
    margin-bottom: 40px;
}
.meal img {
    display:inline-block;
	width:100%;
    padding-top:0%;
    padding-bottom: 0%;
}